.bg {
  height: 100vh;
  background: #0079BE;
}
.row {
  margin-top: 10px;
}

.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  > .title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  > .buttonBlock {
    align-items: center;
    text-align: right;
    > button {
      background: none;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.offcanvas {
  height: 80%;
  margin-top: 4%;
  background: #EEEFF1;
  > .offcanvas_header {
    text-align: center;
    align-items: center;
    > .offcanvas_title {
      width: 100%;
      font-weight: bold;
    }
  }
  > .offcanvas_body {
    > .remove {
      padding: 10px 0;
      border-bottom: solid #D8D9DB 1px;
      border-top: solid #D8D9DB 1px;
      > button {
        margin-left: 15%;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: bold;
        color: #454648;
      }
    }
    .activity {
      > div {
        margin: 20px 0;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: center;
        > img {
          width: 50px;
        }
        > span {
          font-size: 16px;
          font-weight: bold;
        }
      }
      > .list {
        display: flex;
        flex-direction: column;
        > div {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: left;
          > .user {
            width: 35px;
            height: 35px;
            background: #D6DADD;
            color: #515558;
            font-size: 16px;
            font-weight: bold;
            border-radius: 50%;
          }
        }
      }
    }
  }
}


.addInput {
  background: #E3E4E6;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  > button {
    background: none;
    border: none;
    color: #B0B4B5;
    font-size: 14px;
    font-weight: bold;
  }
}

.addInputBlock {
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 5px;
  > input {
    height: 50%;
    background: #fff;
    border: none;
    padding: 5px;
    font-size: 18px;
  }
  > div {
    display: flex;
    gap: 5px;
  }
}

